<!DOCTYPE html>
<html>
<head>
	<title>ArangoDB Interface</title>
	<style>
		table, th, td {
		  border: 1px solid black;
		}
		th, td {
		  padding: 5px;
		}
	</style>
</head>
<body>
	<h1>ArangoDB Data</h1>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>
         {% for number, date in data.items() %}
         <tr>
             <td>{{ date }}</td>
             <td>{{ number }}</td>
         </tr>
         {% endfor %}
     </tbody>
     
	</table>
</body>
</html>