<!DOCTYPE html>
<html>
    <head>
        <style>
            .input {
              width: 250px; 
              /* background-color: silver; */
              border-radius: 13px;
              padding-left: 30px;
            }
        </style>
    </head>
    <body>
        <form class="input" action="/submit" method="post" enctype="multipart/form-data">
            <div class="summary-between">
                <h3>Summary Total</h3>
            </div>
            <div class="summary2">
                <label>Mobile No:</label>
                <input type="text" class="num-input" name="phone1" placeholder="Enter Your  number" value=""/>
            </div>
            <!-- <br> -->
            <div class="submit">
                <button class="button">submit</button>
            </div>
        </form>
    </body>
</html>